<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronimo:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url Imagem:</strong>
    <%= coin.url_image %>
  </p>
</div>
